:root {
  --font-primary: 'Lora', serif;
  --font-secondary: 'Roboto Slab', serif;
  --font-w-regular: 300;
  --font-w-bold: 900;
  --font-s-h1: 4.8rem;
  --font-s-h2: 3.6rem;
  --font-s-h3: 2rem;
  --font-s-body: 1.6rem;
  --bs: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25),
    0.125em 0.125em 0.25em rgba(0, 0, 0, 0.15);
}

html {
  --color-light: #fff;
  --color-dark: #303030;
  --color-darkest: #222222;
  --color-accent: #16e0bd;
}

html[data-theme='dark'] {
  --color-light: #303030;
  --color-dark: #fff;
  --color-accent: #d51538;
}

@media (min-width: 888px) {
  :root {
    --font-s-h1: 7.2rem;
    --font-s-h2: 6rem;
    --font-s-h3: 2.4rem;
    --font-s-body: 1.8rem;
  }
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  background: var(--color-light);
}

section {
  padding: 5em 2em;
}

img {
  display: block;
  max-width: 100%;
}

:focus {
  outline: 3px solid var(--color-accent);
  outline-offset: 3px;
}

body {
  color: var(--color-dark);
  font-family: var(--font-primary);
  font-size: var(--font-s-body);
  line-height: 1.6;
}

strong {
  font-weight: var(--font-w-bold);
}

h1,
h2,
h3 {
  line-height: 1;
  margin: 0;
}

h1 {
  font-size: var(--font-s-h1);
}

h2 {
  font-size: var(--font-s-h2);
}

h3 {
  font-size: var(--font-s-h3);
}

p {
  margin-top: 1em;
  margin-bottom: 1em;
}

.section__title {
  margin-bottom: 0.25em;
}

.section__title--intro {
  font-weight: var(--font-w-regular);
}

.section__title--intro strong {
  display: block;
}

.section__subtitle {
  margin: 0;
  font-size: var(--font-s-h3);
}

.section__subtitle--intro,
.section__subtitle--about {
  background: var(--color-accent);
  padding: 0.25em 1em;
  font-family: var(--font-secondary);
  margin-bottom: 1em;
}

.section__title--services {
  color: var(--color-accent);
}

.section__title--work {
  color: var(--color-accent);
}

.section__subtitle--work {
  color: var(--color-accent);
  font-weight: var(--font-w-bold);
  margin-bottom: 2em;
}

.section__subtitle--work {
  color: var(--color-dark);
}

.btn {
  display: inline-block;
  padding: 0.5em 1.5em;
  background: var(--color-accent);
  color: var(--color-dark);
  text-decoration: none;
  cursor: pointer;
  font-size: 0.8em;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: var(--font-w-bold);
  transition: transform 200ms ease-in-out;
}

.btn:hover {
  transform: scale(1.1);
}

.nav-toggle {
  padding: 0.5em;
  background: transparent;
  border: 0;
  cursor: pointer;
  position: absolute;
  right: 1em;
  top: 1em;
  z-index: 1000;
}

.nav-open .nav {
  transform: translateX(0);
}

.nav-open .nav-toggle {
  position: fixed;
}

.nav-open .hamburger {
  transform: rotate(0.625turn);
}

.nav-open .hamburger::before {
  transform: rotate(90deg) translateX(-6px);
}

.nav-open .hamburger::after {
  opacity: 0;
}

.hamburger {
  display: block;
  position: relative;
}

.hamburger, .hamburger::before, .hamburger::after {
  background: var(--color-accent);
  width: 2em;
  height: 3px;
  border-radius: 1em;
  transition: transform 250ms ease-in-out;
}

.hamburger::before, .hamburger::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
}

.hamburger::before {
  top: 6px;
}

.hamburger::after {
  bottom: 6px;
}

input[type='checkbox'] {
  height: 0;
  width: 0;
  visibility: hidden;
}

label {
  position: absolute;
  right: 0.1em;
  top: 2em;
  cursor: pointer;
  text-indent: -9999px;
  width: 52px;
  height: 27px;
  background: var(--color-accent);
  float: right;
  border-radius: 100px;
  position: relative;
}

label:after {
  content: '';
  position: absolute;
  top: 3px;
  left: 3px;
  width: 20px;
  height: 20px;
  background: var(--color-light);
  border-radius: 90px;
  transition: 0.3s;
}

input:checked + label {
  background: var(--color-accent);
}

input:checked + label:after {
  left: calc(100% - 5px);
  transform: translateX(-100%);
}

label:active:after {
  width: 45px;
}

html.transition,
html.transition *,
html.transition *:before,
html.transition *:after {
  transition: all 750ms !important;
  transition-delay: 0 !important;
}

.intro {
  position: relative;
}

.intro__img {
  box-shadow: var(--bs);
}

.section__subtitle--intro {
  display: inline-block;
}

@media (min-width: 40em) {
  .intro {
    display: grid;
    max-width: min-content;
    margin: 0 auto;
    grid-column-gap: 1em;
    grid-template-areas: 'img title' 'img subtitle';
    grid-template-columns: min-content max-content;
  }
  .intro__img {
    position: relative;
    grid-area: img;
    min-width: 25rem;
    z-index: 2;
  }
  .section__subtitle--intro {
    align-self: start;
    grid-column: -1 / 1;
    grid-row: 2;
    text-align: right;
    position: relative;
    left: -1.5em;
    width: calc(100% + 1.5em);
  }
}

header {
  display: flex;
  justify-content: space-between;
  padding: 1em;
}

.logo {
  max-width: 15rem;
}

.nav {
  position: fixed;
  background: var(--color-dark);
  color: var(--color-light);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  transform: translateX(100%);
  transition: transform 250ms cubic-bezier(0.5, 0, 0.5, 1);
}

.nav__list {
  list-style: none;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 0;
  padding: 0;
}

.nav__link {
  color: inherit;
  font-weight: var(--font-w-bold);
  font-size: var(--font-s-h2);
  text-decoration: none;
}

.nav__link:hover {
  color: var(--color-accent);
}

.my-services {
  background-image: linear-gradient(rgba(48, 48, 48, 0.75), rgba(48, 48, 48, 0.75)), url(../../img/services-bg.jpg);
  background-size: cover;
  color: var(--color-light);
  text-align: center;
}

.section__title--services {
  position: relative;
}

.section__title--services::after {
  content: '';
  display: block;
  width: 1em;
  height: 2px;
  margin: 0.5em auto 1em;
  background: var(--color-light);
  opacity: 0.25;
}

.services {
  margin-bottom: 4em;
}

.service {
  max-width: 50rem;
  margin: 0 auto;
  color: #fff;
}

@media (min-width: 888px) {
  .services {
    display: flex;
    max-width: 100rem;
    margin-left: auto;
    margin-right: auto;
  }
  .service + .service {
    margin-left: 2em;
  }
}

.about-me {
  max-width: 100rem;
  margin: 0 auto;
}

.about-me__img {
  box-shadow: var(--bs);
  margin: 0 auto;
}

@media (min-width: 40em) {
  .about-me {
    display: grid;
    grid-template-columns: 1fr 20rem;
    grid-template-areas: 'title img' 'subtitle img' 'text img';
    grid-column-gap: 2em;
  }
  .about-me__img {
    grid-area: img;
    grid-column: 2;
    position: relative;
    z-index: 2;
  }
  .section__title--about {
    grid-area: title;
  }
  .section__subtitle--about {
    grid-column: 1 / -1;
    grid-row: 2;
    position: relative;
    left: -1em;
    width: calc(100% + 2em);
    padding-left: 1em;
    padding-right: calc(200px + 4em);
  }
}

.my-work {
  background: var(--color-darkest);
  color: var(--color-light);
  text-align: center;
}

.portfolio {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
}

.portfolio__item {
  background: var(--color-accent);
  justify-self: center;
  overflow: hidden;
}

.portfolio__item:focus {
  position: relative;
  z-index: 2;
}

.portfolio__item:focus .portfolio__img {
  transform: scale(1.2);
  opacity: 0.85;
}

.portfolio__img {
  transition: transform 750ms cubic-bezier(0.5, 0, 0.5, 1), opacity 250ms linear;
}

.portfolio__img:hover,
.portfolio__img .portfolio__item:focus .portfolio__img {
  transform: scale(1.2);
  opacity: 0.85;
}

.footer {
  background: #111;
  color: var(--color-accent);
  text-align: center;
  padding: 2.5em 0;
  font-size: var(--font-s-h3);
}

.footer a {
  color: inherit;
  text-decoration: none;
  transition: opacity 250ms ease-in-out;
}

.footer__link {
  font-weight: var(--font-w-bold);
}

.footer__link:hover {
  text-decoration: underline;
}

.footer__link:hover,
.footer .social-list__link:hover {
  opacity: 0.7;
}

.social-list {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 2em 0 0;
  padding: 0;
}

.social-list__item {
  margin: 0 0.5em;
}

.social-list__link {
  padding: 0.5em;
}

.portfolio-item-individual {
  padding: 0 2em 2em;
  max-width: 100rem;
  margin: 0 auto;
}

.portfolio-item-individual p {
  max-width: 60rem;
  margin-left: auto;
  margin-right: auto;
}
/*# sourceMappingURL=main.css.map */